<div class="container" style="font-size: 2rem;">

    <div class="row justify-content-center">

        <form action="" enctype="application/x-www-form-urlencoded" method="post" class="col-12">
            <div class="form-group">

                <label for="nombre">Nombre</label>
    
                <input class="form-control" type="text" name="nombre" id="name">
    
            </div>

            <div class="form-group">
    
                <label for="descripcion">descripción</label>
                
            </div>
            
            <div class="form-group">
    
                <textarea name="descripcion" cols="50" rows="2" placeholder="define sus características"></textarea>
    
            </div>

            <div class="col-12 d-flex justify-content-end">
                <input type="submit" value="unirse" class="btn btn-primary" style="font-size: 2rem;">
            </div>                                                
            
        </form>

    </div>

</div>